[package]
name = "tuc"
description = "When cut doesn't cut it"
version = "0.8.0"
authors = ["Riccardo Attilio Galli <riccardo@sideralis.org>"]
edition = "2018"
homepage = "https://github.com/riquito/tuc"
repository = "https://github.com/riquito/tuc"
license = "GPL-3.0-or-later"
readme = "README.md"
keywords = ["cli"]
categories = ["command-line-utilities"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.57"
pico-args = { version = "0.4.2", features = ["short-space-opt", "combined-flags"] }
regex = { version = "1.5", optional = true }

[features]
default = []

[dev-dependencies]
assert_cmd = "2.0.4"

[profile.release]
lto = true
codegen-units = 1
panic = 'abort'
strip = "debuginfo"
