[package]
name = "tuc"
description = "When cut doesn't cut it"
version = "1.1.0"
authors = ["Riccardo Attilio Galli <riccardo@sideralis.org>"]
edition = "2018"
homepage = "https://github.com/riquito/tuc"
repository = "https://github.com/riquito/tuc"
license = "GPL-3.0-or-later"
readme = "README.md"
keywords = ["cli", "terminal", "text"]
categories = ["command-line-utilities"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.75"
pico-args = { version = "0.5.0", features = ["short-space-opt", "combined-flags", "eq-separator"] }
regex = { version = "1.8", default-features = false, features = ["std", "unicode-bool", "unicode-perl", "unicode-gencat"], optional = true }

[features]
default = ["regex"]

[dev-dependencies]
assert_cmd = "2.0.12"
predicates = { version = "3.0.4",  default-features = false }

[profile.release]
lto = true
codegen-units = 1
panic = 'abort'
strip = "debuginfo"

[profile.web-release]
# To be used with
# cargo build --target wasm32-wasi --profile=web-release
# then we get our wasm file at
# target/wasm32-wasi/web-release/tuc.wasm
inherits = "release"
opt-level = "s"
